<%= erb :header %>

    <form method="post" action="admin_login">
    	<label>Password</label>
        <input type="password" name="password">

        <input type="submit" value="Enter">
    </form>

<%= erb :footer %>
