<%= erb :header %>

	<link href="css/raffle.css" rel="stylesheet" type="text/css">
	<link href="css/raffle_footer.css" rel="stylesheet" type="text/css">

	<div class = "container">
	    <h1>There is no raffle right now</h1>
	    <p>Please come back another time</p>
	</div>

<%= erb :footer %>