<%= erb :header %>

	<link href="css/raffle.css" rel="stylesheet" type="text/css">
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<br>
			<p class="text-center">no page found</p>
		    <h1 class="text-center">¯\_(ツ)_/¯</h1>
		</div>
	</div>

<%= erb :footer %>