<%= erb :header %>

	<link href="css/raffle.css" rel="stylesheet" type="text/css">

	<div class = "container">
	    <h1>Success</h1>
	    <p>You have been entered into the raffle!</p>
	    <p>Good Luck</p>
	</div>

<%= erb :footer %>