<%= erb :header %>

	<link href="css/raffle.css" rel="stylesheet" type="text/css">
	<div class="row">
		<div class="col-md-2 col-md-offset-5">
			<br>
			<h1 class="text-center">:(</h1>
			<p class="text-center">sorry, unfortunately your entry was not approved</p>
		</div>
	</div>

<%= erb :footer %>